<!doctype html>
<html lang="{{ site.lang }}" data-section="scene">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    {% if page.excerpt or site.description %}
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
    <style>
    </style>
    <script src="{{ '/_js/vendor/aframe-master.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/_js/main.js' | prepend: site.baseurl }}"></script>
    {% if page.prev_scene %}
    <link rel="prev" href="{{ page.prev_scene }}">
    {% endif %}
    {% if page.next_scene %}
    <link rel="next" href="{{ page.next_scene }}">
    {% endif %}
  </head>
  <body>


{{ content }}


  </body>
</html>
